.bar #calls-selected {
  margin-left: 57%;
}
.calls {
  width: 100%;
  min-height: 200vh;
}
.calllist {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
}
.newcall {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #009bcf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  position: fixed;
  bottom: 10%;
  margin: 0 25% 0 75%;
  box-shadow: 0 30px 20px -12px rgba(50, 50, 93, 0.25),
    0 18px 16px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: glowing 5s linear infinite;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #1beabd;
  }
  40% {
    box-shadow: 0 0 20px #10abff;
  }
  60% {
    box-shadow: 0 0 20px #1beabd;
  }
  100% {
    box-shadow: 0 0 -10px #10abff;
  }
}
