.bar #chats-selected {
  margin-left: 100px;
}
.chats .eachroom {
  width: 98%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 20px;
  /* border-bottom: 0.5px solid rgb(221, 229, 233); */
}
/* :::::::left column of each chat room ::::::: */
.chats .eachroom .left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.chats .eachroom .left .prflpic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.chats .eachroom .left .content {
  margin-left: 20px;
}
.chats .eachroom .left .content .name {
  padding-bottom: 12px;
  display: block;
  font-size: 20px;
}
.chats .eachroom .bottom-text span,
.chats .eachroom .timestamp {
  font-weight: 300;
  opacity: 0.6;
}
.chats .eachroom .bottom-text span {
  font-size: 16px;
}
.chats .eachroom .bottom-text .not {
  background: url(../images/notseen.svg) no-repeat;
}
.chats .eachroom .bottom-text .yes {
  background: url(../images/seen.svg) no-repeat;
}
.chats .eachroom .bottom-text .seen {
  width: 18px;
  height: 10px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}
.chats .eachroom .bottom-text i {
  opacity: 0.6;
}
.chats .eachroom .left .content .name .groupmember {
  font-size: 18px;
  opacity: 0.4;
  margin: 0 3px 0 5px;
}
.chats .eachroom .left .content .name .groupmute {
  width: 15px;
  height: auto;
  opacity: 0.4;
}
/* :::::::right column of each chat room::::::: */
.chats .eachroom .right {
  /* margin: 0px 15px 0 0; */
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.chats .eachroom .right .timestamp {
  font-size: 14px;
}
.chats .eachroom .right .unreadmsg {
  width: 30px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(175, 174, 174);
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
}
.newchat {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #009bcf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  position: fixed;
  bottom: 30px;
  margin: 0 15px 0 400px;
  box-shadow: 0 30px 20px -12px rgba(50, 50, 93, 0.25),
    0 18px 16px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: glowing 5s linear infinite;
}
.newchat img {
  width: 30px;
  height: auto;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #1beabd;
  }
  40% {
    box-shadow: 0 0 20px #10abff;
  }
  60% {
    box-shadow: 0 0 20px #1beabd;
  }
  100% {
    box-shadow: 0 0 -10px #10abff;
  }
}
