/* :::::::::::variation of navigation bar only for chatroom::::::::::: */
.topnav .left {
  width: 280px;
  display: flex;
}
.topnav .left .prflpic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
.topnav .left .content {
  margin-left: 10px;
}
.topnav .left .content .name {
  padding-bottom: 5px;
  display: block;
  font-size: 20px;
}
.topnav .left .content .lastseen {
  font-size: 14px;
  font-weight: 300;
}
.topnav .right i {
  margin: 0 0 0 25px;
}
/* ::::::::::::::::::::::chatroom body:::::::::::::::::::::: */
.chatting {
  padding: 30px 20px 0 20px;
  text-align: center;
  min-height: 200vh;
  /* background-color: #f6f7f0; */
  background-image: url(../images/worn_dots.png);
  background-repeat: repeat;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.chatting .chatting__timestamp {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #86a7a5;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.chatting .bubble {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.chatting .incoming {
  background: white;
  width: 230px;
  transform: translate(-110px, 0);
}
.chatting .incoming:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-bottom: 15px solid transparent;
  left: -13px;
  top: 0px;
}
.chatting .sent {
  background: bisque;
  width: 180px;
  transform: translate(135px, 0);
}
.chatting .sent:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid bisque;
  border-right: 15px solid transparent;
  border-top: 15px solid bisque;
  border-bottom: 15px solid transparent;
  right: -13px;
  top: 0px;
}
.chatting .chattingcontents {
  margin: 0 10px;
}
.chatting .chattinginfo {
  font-size: 12px;
  opacity: 0.6;
}
.chatting .sent .not {
  background: url(../images/notseen.svg) no-repeat;
}
.chatting .sent .yes {
  background: url(../images/seen.svg) no-repeat;
}
.chatting .sent .seen {
  width: 18px;
  height: 10px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}
/* ::::::::::::::::::::::messaging space:::::::::::::::::::::: */
.msging {
  width: 95%;
  height: 60px;
  position: fixed;
  bottom: 20px;
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.msging .typing {
  width: 80%;
  height: 50px;
  margin-left: 3px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 25px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 30px 20px -12px rgba(50, 50, 93, 0.25),
    0 18px 16px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.msging .typing .inputwrapper {
  margin: 0 3px;
}
.msging .typing .inputwrapper .input {
  background: white;
  width: 250px;
  font-size: 18px;
  border: none;
}
::placeholder {
  color: #cbd0d5;
}
.msging .typing i {
  font-size: 18px;
  opacity: 0.5;
}
.msging .voicenoting {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #57b4d2;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 30px 20px -12px rgba(50, 50, 93, 0.25),
    0 18px 16px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  transition: transform 2s ease-in-out;
}
.msging .typing .inputwrapper .input:focus + .msging .voicenoting {
  transform: rotate(45deg);
}
/* :::::::::::::::::::effect:::::::::::::::: */
/* .msging .typing {
  width: 75%;
  position: relative;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
  box-shadow: 0 30px 20px -12px rgba(50, 50, 93, 0.25),
    0 18px 16px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

  .msging .typing * :not(.msging span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 2;
  }
    .msging .typing input:focus + .msging span {
      opacity: 1;
      transform: scale(1);
    }
  
  .msging span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,
      -3px 3px 30px #10abff;
  }
}
.msging .typing .typingborderwrap {
  background-color: white;  
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 9999em;
  padding-left: 7px;
  border: 2px solid red;
}
.msging .typing .input {
  color: #2e3750;
  min-width: 12em;
  margin: 10px 0;
}
 */
