@import url("reset.css");
@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("fixedpart.css");
@import url("chats.css");
@import url("calls.css");
@import url("settings.css");
@import url("chattingroom.css");
@import url("overlaymenu.css");
@import url("contacts.css");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
input:focus {
  outline: none;
}
main {
  overflow: auto;
}
.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #57b4d2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  line-height: 2;
  padding: 0px 20px;
  display: none;
  z-index: 4;
}

@media screen and (min-width: 520px) {
  .bigScreen {
    display: flex;
  }
}
.bigScreen__text {
  font-size: 25px;
  font-weight: 600;
}
.bigScreen__text2 {
  font-size: 14px;
  font-weight: 300;
}
