@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.phone {
  width: 300px;
  height: 600px;
  border: 1px solid grey;
  border-radius: 30px;
  background-color: #f8f8f8;
  padding: 40px 30px 80px 30px;
}
.header {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}
.header__title {
  font-size: 16px;
  font-weight: 700;
}
.section {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline-style: none;
  width: 240px;
  height: 35px;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 12px;
}
.sectionforgot {
  text-align: right;
}
.sectionforgot__pswd {
  color: #ef9da4;
  font-size: 10px;
}
.sectionrmbr {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.sectionrmbr__check {
  width: 13px;
  height: 13px;
  border: 1px solid #d1d1d1;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionrmbr__me {
  font-size: 10px;
  color: #c6c6c6;
}
.sectionsign {
  width: 100%;
  height: 35px;
}
.sectionsign__in {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2283d;
  color: white;
  font-size: 10px;
  border-radius: 20px;
}
.sectionor {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.sectionor__or {
  font-weight: 700;
  font-size: 12px;
}
.sectionsns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.sectionsns__fb {
  width: 115px;
  height: 35px;
  background-color: #475a95;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.sectionsns__tw {
  width: 115px;
  height: 35px;
  background-color: #5c94ee;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.sectionaccount {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}
.sectionaccount__sign {
  color: #c6c6c6;
  margin-right: 5px;
}
.sectionaccount__up {
  color: #ef9da4;
}
.sectionretrieve {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}
.sectionretrieve__forgot {
  color: #c6c6c6;
  margin-right: 5px;
}
.sectionretrieve__again {
  color: #ef9da4;
}
