@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&display=swap");
@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";

body,
html {
  height: 100%;
}
body {
  background-color: black;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
main {
  width: 99%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 1px;
}
.airpods {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  height: 55%;
}
.airpods__header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.airpodsheader__pic {
  width: 350px;
  height: auto;
  /* max-width: 80%;
  max-height: 80%; */
  /* position: absolute; */
  /*  top: 50%;
  left: 50%; */
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px #b0b4ba;
}
.airpodsdesc__name {
  font-weight: 700;
  font-size: 20px;
  margin: 25px 30px 0px 30px;
}
.airpodsdesc__content {
  font-weight: 400;
  font-size: 15px;
  opacity: 0.3;
  margin: 20px 30px;
}
.airpods__footer {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}
.airpodsfooter__price {
  font-weight: 700;
  font-size: 18px;
}
.airpodsfooter__review {
  color: #b0b4ba;
  font-size: 14px;
}

.kakao {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  height: 45%;
  position: relative;
}
.kakao__header {
  background-image: url("images/spongebob.jpg");
  height: 45%;
  background-size: cover;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

.kakao__pic {
  width: 100px;
  height: 100px;
  border-radius: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -50px;
  border: 5px solid white;
}
.kakao__description {
  height: 90px;
  margin-top: 50px;
  padding: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  /*  position: absolute; 
  top: 60%; 
  margin-top: -50px; */
  text-align: center;
}
.kakaodesc__name {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.kakaodesc__status {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.3;
}
.kakao__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kakaofooter__bttn {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#kakaofooterbttn__follow {
  background-color: #6670f9;
  color: #eaebff;
}
#kakaofooterbttn__msg {
  background-color: #eaebff;
  color: #6670f9;
  font-weight: 700;
}
